*{
    margin: 0px;
    padding: 0px;
    
}
 

.loader{
    height: 100px;
    width: 100px;
    border: 20px solid red;
    border-left: 15px solid black;
    border-radius: 50%;
    position: relative;
    left: 920px;
    top: 350px;
    animation-name: spinAnimate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes spinAnimate{
    from {
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}

